.button_bg{
    background-color: #333399;
    color: white;
}

:root {
    --main-font-color: white;
    --main-border-color: gray;
    --pixel-size: 10px;
    --font-size: 30px;
}

body{
    background-color: darkslategray;
}

.box{
    padding: var(--pixel-size);
    margin: var(--pixel-size);

    width: fit-content;

    font-size: var(--font-size);
    font-family: monospace;

    background-color: #000000;
    color: var(--main-font-color);

    border: var(--pixel-size) double var(--main-border-color);
    border-radius: var(--pixel-size);
}

.textBox{
    padding: var(--pixel-size);
    margin: var(--pixel-size);

    width: max-content;

    font-size: var(--font-size);
    font-family: monospace;

    background-color: #252525;
    color: var(--main-font-color);

    border: var(--pixel-size) solid var(--main-border-color);
    border-radius: var(--pixel-size);
}

.buttonNormal {
    padding: 20px 40px;
    margin: var(--pixel-size);

    width: max-content;

    font-size: var(--font-size);
    font-family: monospace;

    text-align: center;
    text-decoration: none;

    background-color: black;
    color: var(--main-font-color);

    border: var(--pixel-size) solid var(--main-border-color);
    border-radius: 20px;

    display: inline-block;
    cursor: pointer;
}