/*Text*/

p{
    font-family:arial;
    color:black;
    border: 2px solid gray;
    margin: 20px;
}

h1{
    font-family:consolas-bold;
    color:darkslategray;
}

th, td{
    padding: 15px;
}

/*Classes*/

.project{   
    font-family:consolas;
    color:black;
    background-color:darkgray;
    border: 2px solid darkslategray;
    margin:50px;
}