/*Text*/

/*Parts*/

body{
    background-color: darkslategray;
}

/*Headers*/

h1{
    font-family:consolas;
    color:lightcoral;
    background-color: black;
    border: 50px solid black;
}

h2{
    font-family:consolas;
    color:darkslategray;
}

h3{
    font-family:consolas;
    color:darkslategray;
}

h4{
    font-family:consolas;
    color:black;
    background-color: #92A8D1;
    border: 20px solid #99A1F1;
}

h5{
    font-family:consolas;
    color:darkslategray;
}

h6{
    font-family:consolas;
    color:darkslategray;
}

/*Paragraph  & other text tags*/

p{
    font-family:arial;
    color:black;
    border: 2px solid gray;
    margin: 20px;
}

a{
    font-family: consolas;
    color: blueviolet;
    margin: 10px;
}

/*Tables*/

th, td{
    padding: 15px;
}

/*Classes*/

.project{   
    font-family:consolas;
    color:black;
    background-color:darkgray;
    border: 2px solid darkslategray;
    margin:50px;
}